<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="cards-container">
      <div class="row">

        <div class="col-sm-2 card" style="width: 18rem;">
          <img class="card-img-top" src="http://kenikin.com/w/nba-players-Wallpaper-Full-HD-number-yM1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Players</h5>
            <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
            <a href="/players" class="btn btn-primary">See Players</a>
          </div>
        </div>

        <div class="col-sm-2 card" style="width: 18rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OERZ8iocfWup4uRUhjxY_zncbKN02QawHJMqp9qa2RjC6PaI"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Teams</h5>
            <p class="card-text">Here we can check all NBA Teams..</p>
            <a href="/teams" class="btn btn-primary">See Teams</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>